/* de div waar de onderdelen inzitten*/
#grid-container{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 1fr ;
	grid-template-areas:
	'title '
	'reis' 
	'temperatuur'
	'timeline'
	;

	grid-row-gap:10px;
}
.grid-itembox1{
grid-area:title;
}
.grid-itembox2{
grid-area:reis;
}
.grid-itembox3{
grid-area:temperatuur;
}
.grid-itembox4{
grid-area:timeline;
}

@media only screen and (min-width: 600px) {
/* veranderingen bij scherm groter dan 600px */	
}

@media only screen and (min-width: 1000px){
/* veranderingen bij scherm groter dan 1000px */	
#grid-container{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr ;
	grid-template-areas:
	'title title '
	'reis temperatuur' 
	'timeline timeline'
	;
}
}

@media only screen and (min-width: 1250px){
/* veranderingen bij scherm groter dan 1250px */	
}